@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    margin: 0;
    padding: 0;
}

.nav-bar {
    height: 60px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    box-shadow: 0px 0px 5px black;
}

.nav-logo {
    width: 30vw;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;

}

.nav-logo a {
    text-decoration: none;
    color: black;
    font-size: 3vw;
}

#nav-ul {
    display: flex;
    width: 40vw;
    justify-content: space-around;
    align-items: center;
}

#nav-ul li {
    list-style: none;
    text-decoration: none;
}

.none {
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: 1.2vw;
    background: transparent;
}

.active {
    background: #0000004a;
    border-radius: 5px;
    padding: 0px 5px;
}

.logout,
#theme {
    border: none;
    font-size: 1.2vw;
    background: transparent;
    color: rgb(0, 0, 0);
    cursor: pointer;
}

.none:hover,
.logout:hover {
    background: #00000025;
    border-radius: 3px;
}

.dark-theme {
    background: #000;
    color: white;
}